body {
	background-color: #111;
	padding: 30px;
}

#container {
	margin: auto;
}

canvas {
	border: 2px solid #0a1012;
}

#legend {
	font: 13px Arial, sans-serif;
	color: #BBB;
	text-align: center;
}

#legend a {
	color: #EEE;
}
